apiVersion: v1
kind: ServiceAccount
metadata:
  name: obi
  namespace: observability-dev
  labels:
    app: obi
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: obi
  labels:
    app: obi
rules:
- apiGroups: [""]
  resources: ["nodes", "nodes/proxy"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods", "endpoints", "services"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: obi
  labels:
    app: obi
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: obi
subjects:
- kind: ServiceAccount
  name: obi
  namespace: observability-dev